<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Demand Forecasting</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body class="landing">

  <div class="overlay">
    <div class="hero-content">

      <h1>Restaurant Demand Forecasting System</h1>

      <p>
        An AI-based solution to predict daily food demand and reduce waste.
      </p>

      <!-- Buttons Section -->
      <div class="btn-group">
        <a href="/predict" class="btn">
          Start Prediction
        </a>

        <a href="/analytics" class="btn">
          View Analytics Dashboard
        </a>
      </div>

    </div>
  </div>

</body>
</html>